  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <section class="jumbotron">
      <h1>Faça sua Matrícula - Alunos</h1>

    </section>

    <div class="techs" layout-align="center">

      <div>
        <form ng-submit="alunos.salvar()" name="userForm">
          <video id="cam" autoplay width="150" height="200"></video>
          <canvas id="foto" width="150" height="200" ng-model="alunos.aluno.picture"></canvas><br><br>
          <md-button id="snapshot" ng-click="alunos.snapshot()" class="md-raised md-danger">Tirar Foto</md-button><br>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Nome</label>
              <input ng-model="alunos.aluno.nome" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>Sobrenome</label>
              <input ng-model="alunos.aluno.sobrenome" required>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input ng-model="alunos.aluno.email" type="email">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Matrícula</label>
              <input ng-model="alunos.aluno.matricula" required="">
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Endereço</label>
            <input ng-model="alunos.aluno.endereco" required>
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <label>Número</label>
            <input name="postalCode" ng-model="alunos.aluno.numero" placeholder="12345"
            required md-maxlength="5">
          </md-input-container>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Estado</label>
              <input ng-model="alunos.aluno.estado" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Cidade</label>
              <input required ng-model="alunos.aluno.cidade">
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
              <label>CEP</label>
              <input name="CEP" ng-model="alunos.aluno.CEP" placeholder="66050-140"
              required ng-pattern="/^[0-9]{9}$/" md-maxlength="9">

              <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Você deve inserir o CEP.</div>
                <div ng-message="pattern" class="my-message">Não parece ser um CEP válido.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                  Ta muito grande isso ai cara!
                </div>
              </div>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Apresentação do Aluno</label>
            <textarea ng-model="alunos.aluno.apresentacao" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-input-container>
            <div id="map"></div>
          </md-input-container>
          <p id="demo">Clique no botão para obter sua localização:</p>
          <md-button class="md-raised" onclick="getLocation()">Geolocalização</md-button>
          <md-button class="md-raised md-primary" type="submit">Cadastrar</md-button>
        </form>
      </div>
    </div>
  </md-content>
