<md-toolbar layout="row" layout-align="center center">
  <section flex layout="row" layout-align="left center">
    <md-button href="#/" class="md-raised">Lista de Alunos</md-button>
    <md-button href="#/alunos" class="md-raised">Cadastro de Alunos</md-button>
  </section>
</md-toolbar>
