

<md-content>
  <header>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </header>

  <section class="jumbotron">
    <h1>Lista de Alunos</h1>
  </section>

  <div class="techs">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="aluno in main.alunosMain">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{aluno.nome}}</span>
          <span class="md-subhead">{{aluno.sobrenome}}</span><br>
          <span class="md-content">Apresentação: {{aluno.apresentacao}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media" id="pic{{aluno.matricula}}">
            <img src="{{aluno.img}}"></img>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </div>
</md-content>
